.centertext {
    text-align: center;
}

h1 {
    margin: 50px 0px;
    font-family: 'Roboto Condensed', roboto, sans-serif;
    font-size: 2.5em;
}

.start-btns {
    display: flex;
    align-content: space-around;
    flex-flow: row no-wrap;
    justify-content: center;
}

.start-btns button {
    width: 20%;
    height: 100px;
    margin: 50px 5%;
}

.start-btns button:hover {
    box-shadow: 2px 2px 20px black;
    cursor: pointer;
}

#exit-btn {
    background-color: red;
}

#start-btn {
    background-color: green;
}

.btn-text {
    font-size: 2.5em;
}

.timer {
    margin: 50px 0px;
    font-size: 6em;
}

.timer p {
    margin-top: 10px;
    font-size: 25%;
}

/* box for quiz questions */
.quiz-box p {
    font-size: 2.5em;
    margin-top: 1%;
}

.quiz-box ul {
    margin: 2% 10%;
    font-size: 2em;
    line-height: 1.5;
    list-style: decimal;
}